<div ng-init="wrap.Init()">
    
    <div class="wmax300 mauto pt60">
        <div class="s-head text-center">
            <div class="logo">
                <a href="#/Login" target="_self" title="">
                    <img src="~/Images/logo.png" title="" alt="logo" width="154" height="147" />
                </a>
            </div>
            <h2>Code4Money</h2>
            <p class="mb20">An image upload and sharing application.</p>
        </div>
        <div class="s-body pb15 mb5" 
             ng-form="LoginForm">
            <div class="shadow-box mb10">
                <div class="mb10">
                    <input type="text" name="email" class="form-control" placeholder="E-mail..."
                           ng-model="wrap.userInput.email"
                           ng-keypress="InputEvent($event, wrap.LoginUser)" />
                    <p class="help-block"
                       ng-show="LoginForm.email.$error.isEmpty">Üres mező!</p>
                </div>
                <div>
                    <input type="password" name="password" class="form-control" placeholder="Password..."
                           ng-model="wrap.userInput.password"
                           ng-keypress="InputEvent($event, wrap.LoginUser)" />
                    <p class="help-block"
                       ng-show="LoginForm.password.$error.isEmpty">Üres mező!</p>
                </div>
            </div>
            <div class="text-right mb10">
                <div class="btnbox gray"
                     ng-click="wrap.LoginUser()"><span>Login</span></div>
            </div>
            <div class="shadow-box">
                <div class="tmpFacebookBtn cursor-pointer" ng-click="wrap.FacebookLoginUser()">
                    <span class="logo">f</span>
                    <span>Login with Facebook</span>
                </div>
                @*<fb:login-button scope="public_profile,email"
                                 onlogin="FBWrap.CheckLoginState();">
                </fb:login-button>*@
            </div>
        </div>
        <p class="text-right">
            <a href="#/Register" target="_self" title="Register">Register</a>
        </p>
    </div>

</div>
