<div class="container" 
     ng-init="wrap.Init()">

    <h2>Manage</h2>
    <div class="row">

        <input type="button" value="Open album test" ng-click="wrap.OpenAlbum(-1)" />

    </div>
</div>