<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/code4money")

</head>
<body id="mainApp" ng-app="code4money">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#/Login">Login</a></li>
                    <li><a href="#/Register">Register</a></li>
                    <li><a href="#/Manage">Manage</a></li>
                    <li><a href="#/Browse">Browse</a></li>
                    <li><a href="#/ImageView/6">ImageView</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div ng-controller="HomeController">

            <div ng-view></div>

        </div>
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
</body>
</html>